<h1>Create your account</h1>

<%= render 'layouts/flash_messages' %>

<%= form_for(@user) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <table border="1">
    <!--
    <tr>
      <th><%= f.label :name, 'Name' %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    -->
    <tr>
      <th><%= f.label :email, 'Email address' %></th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th><%= f.label :password, 'Password' %></th>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <th><%= f.label :password_confirmation, 'Confirm password' %></th>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
  </table>

  <%= f.submit 'Submit' %>

<% end %>