<h1>Login</h1>

<%= render 'layouts/flash_messages' %>

<%= form_for(:session, url: sessions_path) do |f| %>

  <table border="1">
    <tr>
      <th><%= f.label :email, 'Email address' %></th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th><%= f.label :password, 'Password' %></th>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <td><%= f.password_field :password %></td>
    </tr>
  </table>

  <%= f.submit 'LOGIN' %>

<% end %>