<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul>
    <li><%= link_to 'Users list', users_path %></li>
    <% if signed_in? %>
      <li><%= link_to 'Profile', current_user %></li>
      <li><%= link_to 'Logout', signout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Login', signin_path %></li>
      <li><%= link_to 'User registration', signup_path %></li>
    <% end %>
  </ul>

  <hr>

    <%= yield %>
  </body>
</html>
